
.about h1{
color: rgb(53, 52, 52);
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 22px;
}
.about{
    color: rgb(71, 69, 69);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifs;
    

}